body{
    color: rgb(68, 49, 6);
    background-color: rgb(151, 190, 78);

    margin: 0;

}
h1{
    margin-left:40px;
    margin-top: 50px;
    margin-bottom: 50px;
 
}


h2{

    /*/
    border: 1px dotted red;
    /**/

    margin-left: 0px;
}

li{
    font-size: 20px;
    transition: all 0.2s ease-out;
    margin-top: 10px;

    border-left: none

    
}

li:hover{
    font-size: 30px;
}

/*---------------------------------------*/




.menu{
    /*/
    border: 1px dotted red;
    🐕
    /**/

    box-shadow: grey 5px 0px 20px;

    position: fixed;
    
    top: 0;
    width: 300px;
    height: 100vh;


    background-color: rgba(0,0,0,0.1);

}


.menu img{
    width: calc( 100%  - 70px);
    margin-top: 70px;
    margin-right: 70px;

}
  
   


.content{
    /*/
    border: 1px dotted red;
    /**/

    margin: 30px;
    margin-left: 330px;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 1.5em;
    
    text-align: left;

}



.content img{
    max-width: 30vw;
    max-height: 50vh;
    float: left;

    margin-right: 30px;
 
}